/* /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} */

html {
    font-size: 20px;
}

body {
    font-family: 'Roboto Mono', monospace;
    width: 90%;
    margin: auto;
}

.container {
    width: 80%;
}

header {
    border:1px black solid;
    width: 100%;
    height: 350px;
}

.headtext {
    float: right;
    text-align: center;
}

h1 {
    font-family: 'Chelsea Market', cursive;
    font-size: 2rem;
}
nav {
    width: 100%;
    padding: 30px;
}

nav li {
    display:inline;
    font-size 10rem;
    background: green;
    width: 20px;
    padding: 10px;
    border-radius: 15px;
    
}

nav li a {
    text-decoration: none;
    word-wrap: break-word;
    color:white;
}

nav .li1 {
    background: #FF764E;
    
}

nav .li2 {
    background:#5ED3EB ;
}

nav .li3 {
    background: #FFCD69;
}





.hero img{
    background-position: center;
    width: 200px;
    border-radius: 50%;
    float: left;
}

.campfire img{
    width: 20%;
    
}

.roadtrip {
    width: 20%;
    margin:auto;
}

.mountains img{
    width: 100%;
}

